&:nth-child(9n-8) {
  border-left-width: 2px;
}

&:nth-child(3n) {
  border-right-width: 2px;
}

&:nth-child(n):nth-child(-n + 9) {
  border-top-width: 2px;
}

&:nth-child(n + 19):nth-child(-n + 27) {
  border-bottom-width: 2px;
}

&:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom-width: 2px;
}

&:nth-child(n + 73):nth-child(-n + 81) {
  border-bottom-width: 2px;
}
