&:nth-child(9n-8) {
  border-left-width: var(--border-edge-width);
}

&:nth-child(3n) {
  border-right-width: var(--border-edge-width);
}

&:nth-child(n):nth-child(-n + 9) {
  border-top-width: var(--border-edge-width);
}

&:nth-child(n + 19):nth-child(-n + 27), 
&:nth-child(n + 46):nth-child(-n + 54),
&:nth-child(n + 73):nth-child(-n + 81) {
  border-bottom-width: var(--border-edge-width);
}