.sdk-cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sdk-cell {
  @import "./borders.scss";
  position: relative;
  font-weight: bold;
  font-size: 2.5em;
  pointer-events: auto;

  & > * {
    @include fill;
    pointer-events: none;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .background {
      background-color: var(--highlight-color);
    }

    &.selected:hover .background {
      background-color: var(--highlight-indicate-color);
    }
  }

  &.selected .background {
    background-color: var(--indication-color);
  }

  .sdk-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

    &.starting {
      color: var(--text-color);
    }

    &.state {
      color: var(--text-color-state);
    }
  }

  @media only screen and (max-width: 550px) and (min-width: 450px) {
    & {
      font-size: 2em;

      .sdk-number {
        padding-top: 12.5%;
      }
    }
  }

  @media only screen and (max-width: 450px) and (min-width: 350px) {
    & {
      font-size: 1.75em;

      .sdk-number {
        padding-top: 15%;
      }
    }
  }

  @media only screen and (max-width: 350px) {
    & {
      font-size: 1.25em;

      .sdk-number {
        padding-top: 17.5%;
      }
    }
  }

  .cell-options {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    align-content: center;
    justify-content: center;
    font-size: small;
    padding-top: 10%;

    .cell-option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;

      &.digit {
        color: var(--indication-color);
      }

      &.target {
        color: var(--target-color);
      }

      &.source {
        color: var(--source-color);
      }
    }
  }

  .cell-indicator .indicator {
    @include fill;

    &.left,
    &.right {
      width: var(--indicator-size);
    }

    &.top,
    &.bottom {
      height: var(--indicator-size);
    }

    &.top {
      bottom: auto;
    }

    &.left {
      right: auto;
    }

    &.right {
      left: auto;
    }

    &.bottom {
      top: auto;
    }
  }

  &.target .indicator {
    background-color: var(--target-color);
  }

  &.source .indicator {
    background-color: var(--source-color);
  }

  .cell-cage {
    margin: auto;

    .cage {
      margin: 5%;
      @include fill;

      &.top {
        border-top: 2px var(--cage-color) dashed;
      }

      &.left {
        border-left: 2px var(--cage-color) dashed;
      }

      &.right {
        border-right: 2px var(--cage-color) dashed;
      }

      &.bottom {
        border-bottom: 2px var(--cage-color) dashed;
      }
    }
  }

  .bubble {
    @include fill;

    .bubble-bg {
      width: 33%;
      height: 25%;
      margin-left: 3%;
      margin-top: 3%;
      background-color: var(--bubble-bg);
      color: var(--bubble-text);
      border-radius: 25%;

      .bubble-content {
        padding-top: 5%;
        text-align: center;
        font-size: 33%;
      }
    }
  }
}
