.sdk-cell {
  display: flex;
  border: var(--border-color) 1px solid;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  font-weight: Bold;
  position: relative;
  pointer-events: auto;

  @import "./borders.scss";

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--highlight-color);
    }
  }

  & > .sdk-number {
    &.starting {
      color: var(--text-color);
    }

    &.state {
      color: var(--text-color-state);
    }
  }
  & > .cell-options {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10% 5% 5% 5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    font-size: small;
    text-align: center;
    background: transparent;

    & > .cell-option {
      background: transparent;
    }

    & > .cell-option.digit {
      color: var(--indication-color);
    }

    & > .cell-option.target {
      color: var(--target-color);
    }

    & > .cell-option.source {
      color: var(--source-color);
    }
  }

  & > .cell-indicator {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;

    & > .indicator {
      position: relative;
      width: 100%;
      height: 100%;
      background: transparent;
    }


    & > .indicator.selected {
      box-shadow: 0 0 2px 3px var(--indication-color) inset;
    }

    & > .indicator.target {
      box-shadow: 0 0 2px 3px var(--target-color) inset;
    }

    & > .indicator.source {
      box-shadow: 0 0 2px 3px var(--source-color) inset;
    }
  }
}
