@import './sudoku.scss';
@import './colors.scss';

:root {
  color-scheme: dark light;
}

html * {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sudoku-numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90vw;
  & > button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 2em;
  }
}  

.solve-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

.solve-options button {
  width: 80px;
  height: 35px;
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1em;
  font-weight: bold;
}

.step-actions {
  margin-top: 25px;
  padding-left: 5%;
  padding-right: 5%;

  & > .sdk-btn {
    width: 9%;
  }
}

.app {
  display: flex;
  grid-template-columns: 1fr auto;
  justify-content: center;
}

.app-options {
  display: none;
}

.text-inline {
  display: inline;
}

.step-slider {
  width: 64%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  position: relative;
}

.slider-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.slider-bubble-track {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 0;
  z-index: 10;
  background: transparent;
  pointer-events: none;
}

.slider-bubble {
  width: 30px;
  background: transparent;
  position: relative;
  left: var(--step-place);
  margin-left: -15px;
  text-align: center;
  font-size: 1.25em;
  margin-top: -25px;
  border: solid var(--border-color) 1px;
  border-radius: 7px;
}

.slider-bubble::after {
  content: var(--step-display);
}

.step-actions {
  display: flex;
  flex-direction: row;
}

.step-actions button {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px;
  height: 40px;
  width: 45px;
  font-size: 1.25em;
  font-weight: bolder;
}

.sdk-btn {
  border-radius: 8px;
}

.sdk-number {
  background: transparent;
}

*.hidden {
  display: none !important;
}

.solve-info {
  margin-top: 5px;
}