@import './cell.scss';

.sdk-box {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-tap-highlight-color: transparent;

  & > * {
    border: none;
  }

  .sdk {
    justify-self: center;
    display: inline-block;
    position: relative;
    width: 90vmin;
    max-width: 60vh;
    height: 90vmin;
    max-height: 60vh;

    .sdk-dummy {
      margin-top: 100%;
    }

    .sdk-sudoku {
      @include fill;
      display: grid;
      grid-template-columns: repeat(9, auto);
      grid-template-rows: repeat(9, auto);
      cursor: pointer;
      user-select: none;
    }
  }
}

